*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(188, 202, 188);
    position: relative;
}

.quote-container{
    background-color: rgb(233, 230, 230);
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 200px;
    margin-bottom: 30px;
    padding: 10px;
    background: linear-gradient(to left bottom, #004d7a, #008793, #00bf72, #a8eb12);
    transition: background 2s;
    outline: none;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: cursive;
    font-weight: 300;
}

.btn:hover {
    background-image: linear-gradient(to right top, #004d7a, #008793, #00bf72, #a8eb12);
    cursor: pointer;
}
.qut{
    padding-top: 80px;
    font-family: monospace;
    font-size: large;
    font-weight: 500;
}